body{
background-color: black;
}

div{display: flex;
  justify-content: center;}

h1{
color: aliceblue;
}

button{
width: 200px;
height: 200px;
font-size: 50px;
}

.button{
background-color: rgb(241, 17, 17);
border-radius: 50%;
border-color:  rgb(255, 13, 0);
border-width: 10px;
}
